# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
.vscode/
__pycache__/
.env
.venv/
.DS_Store
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.mypy_cache/